.header1{
    text-align: center;
}
.head2{
    text-align: center;
}
.head3{
    text-align:center;
    background-color: yellow;
}
.head4{
    text-align:center;
    background-color: aqua;
}
.head6{
    text-align:center;
}