body{
    font-family: sans-sarif;
    background-color: #1c1c1c;
    color:white;
}
.btn{
    background-color: transparent;
    color:white;
    font-size:30px;
    border:none;
    cursor:pointer;
}
.controls{
    display:flex;
    justify-content: center;
}
.btn:hover{
    color:chartreuse;
}

.playing{
    text-align:center;
}